main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.clock {
    .period {
        #period-message {
            font-size: 1.2rem;
            font-weight: 600;
        }
        #period-time {
            font-size: 2.5rem;
            font-weight: 700;
        }
    }
    .time {
        font-size: 7rem;
        font-weight: 800;

        border-top: 1px var(--text-50) solid;
        padding: 0;
    }
    .details {
        font-size: 1.2rem;
        #special {
            font-weight: 600;
            background-clip: text;
            color: transparent;
            background-image: linear-gradient(90deg, var(--secondary-500), var(--primary-500));
        }
    }
}